/*
a. Eric Meyer's Reset CSS v2.0
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,rem,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,rembed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/*HTML5 display-role reset for older browsers*/article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul,li{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/*
b. -webkit- properties only
*/


/* body * {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	} */

::-webkit-scrollbar             { width: .6rem; height: .6rem;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 1rem;
	}





header,
#productes > div:not(.bg) > div > div > img {
	pointer-events: none;
	}
header > a > span:nth-child(1),
header.benvingut > a > span:nth-child(2),
header > a > img,
header > div a {
	pointer-events: all;
	}

#productes > div:not(.bg) > div > div {
	cursor: pointer;
}
#productes .product1 > :nth-child(1),
#productes .product2 > :nth-child(2),
#productes .product3 > :nth-child(3),
#productes .product4 > :nth-child(4),
#productes .product5 > :nth-child(5) {
	cursor: initial;
}






body {font-size: 1.2rem;}
body * {font-family: sans-serif;}
h2, h3 { font-weight: bold;}
i { font-style: italic;}
header * {text-decoration: none;}



/* header { backdrop-filter: blur(10px) brightness(.9) } */
#productes > div:not(.bg) > div > div { backdrop-filter: blur(10px) }




body { background-color: #bba68a }
/* header {background-color: rgb(66, 147, 58);} */
section:nth-of-type(1) { background-color: #654f33 }
section:nth-of-type(2) { background-color: #bba68a }
section:nth-of-type(3) { background-color: #654f33 }
/* section:nth-of-type(4) { background-color: #bba68a } */
/* section:nth-of-type(5) { background-color: #654f33 } */
footer {background-color: #84623f;}

#productes > div:not(.bg) > div > div { background-color: rgba(0, 0, 0, .3) }





body * {color:#fff;}







header > a > span:nth-of-type(2) > span { border-left: 2px solid white }
/* header {
	border-radius: 1rem;
	overflow: hidden;
	} */

#productes > div:not(.bg) > div > div { border-radius: 1rem }

/* header { text-shadow: 0 0 5px #000, 0 0 5px #000 }
header:not(.benvingut) > a > img { filter: drop-shadow(0 0 5px #000) } */


















/* header   {transition: all ease-in-out 1s;}
header > a > span:nth-of-type(1) {transition: width ease-in 1s;}
header * {transition: all ease-out .2s;} */

header,
header > a,
header > a *,
header > div *:not(span) {
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	}
header {
	transition-property: top right;
	}
header:not(.benvingut) > a {
	transition-delay: 1s;
	}
header > a > span:nth-of-type(1) {
	transition-property: width;
	transition-duration: 1s;
	}
header.benvingut > a > span:nth-of-type(1) {
	transition-delay: .6s;
	}	
header > a > span:nth-of-type(2) > span {
	transition-duration: .3s;
	transition-delay: 1s;
	}
header.benvingut > a > span:nth-of-type(2) > span {
	transition-delay: .3s;
	}
/* header > div *:not(span) {
	transition-duration: .2s;
	} */
header > div > menu > *:not(span),
header > div > div > div {
	transition-duration: .2s;
	}
header:not(.benvingut) > div > div {
	transition-property: width margin-left;
	transition-delay: 1.5s;
	}

#productes .product1 > :nth-child(1) > div,
#productes .product2 > :nth-child(2) > div,
#productes .product3 > :nth-child(3) > div,
#productes .product4 > :nth-child(4) > div,
#productes .product5 > :nth-child(5) > div {
	transition-delay: .5s;
	}





















body * { box-sizing: border-box }
html,body { width: 100%; height: 100% }



header            { z-index: 40 }
section :not(.bg) { z-index: 30 }
section .bg       { z-index: 20 }
section           { z-index: 10 }














header {
	position: fixed;
	right: 1rem;
	top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	}
header.benvingut {
	top: 2rem;
	right: 2rem;
	}
header > a {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-bottom: .8rem;
	}
header.benvingut > a {
	margin-bottom: 3rem;
	}
header > a > span:nth-of-type(1) {
	width: 0rem;
	text-align: right;
	overflow: hidden;
	}
header > a > span:nth-of-type(1) > img {
	width: 13rem;
	padding-right: 1rem;
	}
header.benvingut > a > span:nth-of-type(1),
header.benvingut > a > span:nth-of-type(1) > img {
	width: 22rem;
	}
header > a > span:nth-of-type(2) {
	padding-right: .5rem;
	height: 4.5rem;
	}
header.benvingut > a > span:nth-of-type(2) {
	padding-right: 1rem;
	height: 7.4rem;
	}
header > a > span:nth-of-type(2) > span {
	display: inline-block;
	height: 100%;
	transform: scaley(0);
	}
header.benvingut > a > span:nth-of-type(2) > span {
	transform: scaley(1.2);
	}
header > a > img {
	width: 3rem;
	}
header.benvingut > a > img {
	width: 5rem;
	}

header > div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}
header > div > menu {
	display: flex;
	flex-direction: column;
	text-align: right;
	}
header > div > menu > li:not(:last-child) {
	margin-bottom: .6em;
	}
  header.qui-som > div > menu > li:nth-child(1) > a,
header.productes > div > menu > li:nth-child(2) > a,
  header.visites > div > menu > li:nth-child(3) > a,
 header.contacta > div > menu > li:nth-child(4) > a {
	font-size: 1.4em;
	}
header > div > menu > li > a > span {
	display: block;
	}
header > div > div {
	width: .5rem;
	margin-left: .3rem;
	overflow: hidden;
	}
header.benvingut > div > div {
	width: 0;
	margin-left: 0rem;
	}

header.benvingut > div > div { height: 11rem }
  header.qui-som > div > div,
  header.visites > div > div { height: 11.9rem }
header.productes > div > div,
 header.contacta > div > div { height: 12.3rem }

header.benvingut > div > div > div { margin-top: -30rem }
  header.qui-som > div > div > div { margin-top: -10.3rem }
header.productes > div > div > div { margin-top: -7.6rem }
  header.visites > div > div > div { margin-top: -5.3rem }
 header.contacta > div > div > div { margin-top: -2.5rem }






























section {
	display: block;

	width: 100%;
	height: 100%;
	/* min-height: 100%; */
	overflow: hidden;
	}

section > div {
	position: relative;
	}
section > div:not(.bg) {
	width: 100%;
	height: 100%;
	padding: 3rem 15rem 3rem 3rem;
	}
h2 {
	font-size: 3rem;
	margin-bottom: 3rem;
	}
section p {
	margin-bottom: 1rem;
	line-height: 1.2em;
}






















#productes > div:not(.bg) > div {
	width: 100%;
	height: calc(100% - 6rem);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* justify-content: space-between; */
	align-content: flex-start;
	overflow: hidden;
	}
#productes > div:not(.bg) > div > div {
	width: 14rem;
	height: 14rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	
	overflow: hidden;

	display: flex;
	flex-direction: row;

	background-repeat: no-repeat;
	background-size: 12rem;
	background-position: calc(100% - 1rem) center;
	}
#productes > div:not(.bg) > div > div > div {
	opacity: 0;
	}
#productes .product1 > :nth-child(1),
#productes .product2 > :nth-child(2),
#productes .product3 > :nth-child(3),
#productes .product4 > :nth-child(4),
#productes .product5 > :nth-child(5) {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 3rem;

	background-size: 25rem;
	background-position: calc(100% + 3rem) calc(100% + 3rem);
	}
#productes .product1 > :not(:nth-child(1)),
#productes .product2 > :not(:nth-child(2)),
#productes .product3 > :not(:nth-child(3)),
#productes .product4 > :not(:nth-child(4)),
#productes .product5 > :not(:nth-child(5)) {
	margin: 0;
	width: 0;
	height: 0;

	background-size: 0;
	}

/* #productes > div:not(.bg) > div > div > div {
	width: 50%;
	} */

#productes .product1 > :nth-child(1) > div,
#productes .product2 > :nth-child(2) > div,
#productes .product3 > :nth-child(3) > div,
#productes .product4 > :nth-child(4) > div,
#productes .product5 > :nth-child(5) > div {
	opacity: 1;
	}
#productes > div:not(.bg) > div > div > div:nth-child(1){
	/* background-color: rgb(161, 86, 86); */
	width: 20rem;
	}
#productes > div:not(.bg) > div > div > div:nth-child(2){
	/* background-color: rgb(95, 185, 97); */
	width: calc(100% - 20rem);
	padding: 0 2rem;
	overflow-y: auto;
	}

#productes h3 {
	margin-bottom: 1em;
	}
#productes h3 i {
	display: block;
	}


















#productes * {
	transition-property: all;
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	/* transition-duration: 2s; */
	}










iframe {width: 100%;}