/*
a. Eric Meyer's Reset CSS v2.0
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,rem,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,rembed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}/*HTML5 display-role reset for older browsers*/article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul,li{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}

/*
b. -webkit- properties only
*/


/* body * {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	} */

::-webkit-scrollbar             { width: .6rem; height: .6rem;}
::-webkit-scrollbar-track-piece { background-color: #333;}
::-webkit-scrollbar-thumb {
	background-color: #888;
	border-radius: 1rem;
	}





body {font-size: 1.2rem;}
body * {font-family: sans-serif;}
header * {text-decoration: none;}






/* header {background-color: rgb(66, 147, 58);} */
section:nth-of-type(1) {background-color: #9c9644;}
section:nth-of-type(2) {background-color: #5956ab;}
section:nth-of-type(3) {background-color: #357154;}
section:nth-of-type(4) {background-color: #2c2792;}
section:nth-of-type(5) {background-color: #8b4568;}
footer {background-color: #84623f;}

body * {color:#fff;}











body * { box-sizing: border-box; }
html,body {width: 100%; height: 100%;}
header {z-index: 100;}
section {z-index: 10;}

















header {
	position: fixed;
	right: 1rem;
	top: 1rem;
	text-align: right;
	}






/* header {
	width: 15em;
	max-width: 15em;
	} */
/* header > * {
	float: right;
	} */
header > span {
	display: block;
	margin-bottom: 1rem;
	/* width: 3rem; */

}
header > span > a {
	display: block;
	/* width: 3rem; */
	/* height: 4.4rem; */
	}

header > span > a > * {
	vertical-align: top;
}
header > span > a > span {
	display: inline-block;
	overflow: hidden;
	width: 0rem;
	margin-right: 1rem;
}
header > span > a > span > img {
	/* background-color: blue; */
	width: 13rem;
}
header > span > a > img {
	display: inline-block;
	/* background-color: #357154; */
	width: 3rem;
}



/* header > ul > li {
	display: block;
	} */
header > ul > li:not(:last-child) {
	margin-bottom: .4em;
	}

/* header > ul > li:last-child {
	width: 2rem;
	right: 0;
	float: right;
	} */


header   {transition: all ease-in-out 1s;}
header > span > a > span {transition: all ease-in 1s;}
header * {transition: all ease-out .2s;}

/* header.benvingut {
	width: calc(100% - 2rem);
	max-width: 20rem;
	} */
header.benvingut > span > a > span {
	width: 20.6rem;
	}
header.benvingut > span > a > span > img {
	width: 20.6rem;
	}
header.benvingut > span > a > img {
	width: 5rem;
	}
header.qui-som li:nth-child(1),
header.productes li:nth-child(2),
header.contacta li:nth-child(3),
header.visites li:nth-child(4) {font-size: 1.4em;}























section {
	display: block;

	width: 100%;
	/* height: 100%; */
	min-height: 100%;
	padding: 3rem;
	overflow: hidden;
	}
h2 {font-size: 3rem;}


section > img {
	width: 10rem;
	}




iframe {width: 100%;}